<template>
    <v-container fluid grid-list-md>
        <v-layout row wrap>
            <v-flex xs12 md2>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-card class="px-2">
                            <v-radio-group
                                v-model="interval"
                                @change="changeInterval"
                            >
                                <v-radio
                                    v-for="(item, index) in intervalData"
                                    :key="index"
                                    :label="item.label"
                                    :value="item.value"
                                />
                            </v-radio-group>
                        </v-card>
                    </v-flex>
                    <v-flex xs12>
                        <v-card class="px-2">
                            <v-checkbox
                                v-model="excludeVGVs"
                                @change="filteredChartData = generateChart()"
                                label="Excludes VGVs"
                            />
                            <v-text-field
                                solo
                                v-model="vgvFilter"
                                @keyup="filteredChartData = generateChart()"
                                ref="filterVGVs"
                                id="filterVGVs"
                                placeholder="Filter VGVs"
                            />
                            <v-checkbox
                                v-model="excludeEvents"
                                @change="filteredChartData = generateChart()"
                                label="Excludes Events"
                                ref="excludeEvents"
                            />
                            <v-text-field
                                solo
                                v-model="eventFilter"
                                @keyup="filteredChartData = generateChart()"
                                ref="filterEvents"
                                id="filterEvents"
                                placeholder="Filter Events"
                            />
                            <v-btn
                                @click="
                                    eventFilter = '83 258 3 704 311 113 13 11';
                                    excludeEvents = false;
                                    filteredChartData = generateChart();
                                "
                            >
                                Filter User Events
                            </v-btn>
                            <v-btn
                                @click="
                                    eventFilter = '83 258 3 704 311 113 13 11';
                                    excludeEvents = true;
                                    filteredChartData = generateChart();
                                "
                            >
                                Filter System Events
                            </v-btn>
                        </v-card>
                    </v-flex>
                    <v-flex xs12>
                        <v-card class="pa-2 text-xs-center">
                            <v-btn>Export Chart Data</v-btn>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex xs12 md10>
                <!-- Display chart only after it's filtered -->
                <v-layout v-if="filteredChartData" row wrap>
                    <v-flex xs12>
                        <vue-plotly
                            :data="filteredChartData"
                            :layout="layout"
                            :options="options"
                        />
                    </v-flex>
                    <v-flex shrink>
                        <v-btn @click="shiftRange(-1)"
                            ><v-icon>chevron_left</v-icon></v-btn
                        >
                    </v-flex>
                    <v-flex>
                        <v-range-slider
                            v-model="range"
                            :max="maxRange"
                            :min="minRange"
                            ticks="always"
                            tick-size="2"
                        ></v-range-slider>
                    </v-flex>
                    <v-flex shrink>
                        <v-btn @click="shiftRange(1)"
                            ><v-icon>chevron_right</v-icon></v-btn
                        >
                    </v-flex>
                </v-layout>
                <v-layout v-if="!filteredChartData" row wrap>
                    <v-flex xs12>
                        <!--    Display loading indicator until 
                                filteredChartData is available -->
                        <v-progress-circular
                            v-if="!filteredChartData && !error"
                            indeterminate
                            size="150"
                            width="10"
                            style="position: relative; top: 20vh; left: 30vw"
                        />
                        <h2 v-if="error" style="color: red">
                            Error loading chart...
                        </h2>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import VuePlotly from '@statnett/vue-plotly';
import axios from 'axios';
import Vue from 'vue';

export default {
    data: () => ({
        range: [0, 31],
        minRange: 0,
        maxRange: 31,
        // The raw chart data
        chartData: null,
        // Chart reactively displays filteredChartData
        filteredChartData: null,
        layout: {
            autosize: true
        },
        options: {
            responsive: true
        },
        // Error loading chartData
        error: false,
        excludeVGVs: false,
        excludeEvents: false,
        vgvFilter: '',
        eventFilter: '',
        startTime: -1,
        labelPrefix: '',
        interval: 86400,
        intervalData: [
            {
                label: 'Daily Chart',
                value: 86400 // Number of seconds in a day
            },
            {
                label: 'Weekly Chart',
                value: 604800 // Number of seconds in a week
            },
            {
                label: 'Monthly Chart',
                value: 2419200 // Number of seconds in a 28-day month
            }
        ]
    }),
    components: {
        VuePlotly
    },
    watch: {
        range: function(newVal) {
            /* @brief   range watcher to Make sure that the two ends of the 
                        range selection aren't on top of each other.
            */
            if (newVal[0] == newVal[1]) {
                if (newVal[0] > this.minRange) {
                    Vue.set(this.range, 0, newVal[0] - 1);
                } else {
                    Vue.set(this.range, 1, newVal[1] + 1);
                }
            }
            this.filteredChartData = this.generateChart();
        }
    },
    methods: {
        shiftRange(shift_int) {
            /*  @brief  Shifts the range window left or right
                @param  shit_int The number of intervals to shift.
                        A negative value shifts left, positive shifts right.
            */
            // Capture the distance between range endpoints
            let distance = this.range[1] - this.range[0];

            // Perform the shift, then clamp to maxRange/minRange
            Vue.set(this.range, 1, this.range[1] + Math.floor(shift_int));
            Vue.set(this.range, 0, this.range[0] + Math.floor(shift_int));
            if (this.range[1] > this.maxRange) {
                Vue.set(this.range, 1, this.maxRange);
                Vue.set(this.range, 0, this.maxRange - distance);
            }
            if (this.range[0] < this.minRange) {
                Vue.set(this.range, 0, this.minRange);
                Vue.set(this.range, 1, this.minRange + distance);
            }
        },
        changeInterval() {
            /* @brief   Changes the interval and valid range when the user
                        clicks a different radio button.
            */

            // Lookup table for maxRange and label prefix with given
            // interval
            const intervalRange = {
                86400: { range: 31, prefix: '' },
                604800: { range: 4, prefix: 'Week of ' },
                2419200: { range: 1, prefix: 'Month of ' }
            };
            this.maxRange = intervalRange[this.interval].range;
            Vue.set(this.range, 0, 0);
            Vue.set(this.range, 1, this.maxRange);
            this.labelPrefix = intervalRange[this.interval].prefix;
            this.filteredChartData = this.generateChart();
        },
        generateChart() {
            /*  @brief   Generates the chart based on the filter and exclusion
                        inputs.
                @return dataset(s) appropriate for filteredChartData
            */
            let labels = [];
            let datasets = [];
            let hostnames = [];

            let startTime = 0;
            let endTime = 0;
            startTime =
                this.chartData[this.chartData.length - 1].endTime -
                this.interval * (this.maxRange - this.range[0]);
            endTime =
                this.chartData[this.chartData.length - 1].endTime -
                this.interval * (this.maxRange - this.range[1]);

            let buckets = [];
            //  The data is split up into buckets of interval size, which
            //  will be daily, weekly, or monthly
            for (let ii = startTime; ii < endTime; ii += this.interval) {
                let dd = new Date(ii * 1000).toDateString();
                buckets.push({
                    startTime: ii,
                    displayDate: dd,
                    endTime: ii + this.interval - 1,
                    robotStats: {},
                    segmentStats: {}
                });
                labels.push(this.labelPrefix + dd);
            }

            function getBucket(timeStamp) {
                /*  @brief  Gets the bucket that a given timeStamp falls into
                    @param  timeStamp The timeStamp in seconds since Epoch
                    @return The index into buckets that the timeStamp falls
                            into.  Returns -1 if timeStamp falls outside of the bucket
                            range
                */
                for (let ii = 0; ii < buckets.length; ii++) {
                    if (
                        timeStamp >= buckets[ii].startTime &&
                        timeStamp <= buckets[ii].endTime
                    ) {
                        return ii;
                    }
                }
                return -1;
            }

            function filterOutItem(item, filters, exclude = false) {
                /*  @brief  Case-insensitive.  Checks if an item includes all 
                            filters.  For filter [A, B, C] and item D, checks 
                            that A, B, and C are all included in D.  If 
                            exclude is true, then A, B, and C must not be 
                            included in D.
                    @param  item A string to check
                    @param  filters A space-separated string or array of 
                            strings to run through item
                    @param  exclude Applies exclusionary filter as opposed to
                            inclusionary filter
                    @return True if filter is met, false if it isn't
                */
                if (filters) {
                    if (typeof filters == 'string') {
                        filters = filters.split(' ');
                    }
                    for (var ii = 0; ii < filters.length; ii++) {
                        if (
                            item
                                .toUpperCase()
                                .includes(filters[ii].toUpperCase())
                        ) {
                            if (exclude) {
                                return true;
                            } else {
                                return false;
                            }
                        }
                    }
                } else {
                    return false;
                }

                if (exclude) {
                    return false;
                } else {
                    return true;
                }
            }

            for (let ii = 0; ii < this.chartData.length; ii++) {
                let bucket = getBucket(this.chartData[ii].startTime);
                if (bucket > -1) {
                    for (let hostname in this.chartData[ii].robotStats) {
                        if (
                            !filterOutItem(
                                hostname,
                                this.vgvFilter,
                                this.excludeVGVs
                            )
                        ) {
                            if (!(hostname in buckets[bucket].robotStats)) {
                                buckets[bucket].robotStats[
                                    hostname
                                ] = JSON.parse(
                                    JSON.stringify(
                                        this.chartData[ii].robotStats[hostname]
                                    )
                                );
                            } else {
                                for (let item in this.chartData[ii].robotStats[
                                    hostname
                                ]) {
                                    if (item != 'errors') {
                                        buckets[bucket].robotStats[hostname][
                                            item
                                        ] += this.chartData[ii].robotStats[
                                            hostname
                                        ][item];
                                    } else {
                                        for (let error in this.chartData[ii]
                                            .robotStats[hostname].errors) {
                                            if (
                                                error in
                                                buckets[bucket].robotStats[
                                                    hostname
                                                ].errors
                                            ) {
                                                buckets[bucket].robotStats[
                                                    hostname
                                                ].errors[
                                                    error
                                                ] += this.chartData[
                                                    ii
                                                ].robotStats[hostname].errors[
                                                    error
                                                ];
                                            } else {
                                                buckets[bucket].robotStats[
                                                    hostname
                                                ].errors[
                                                    error
                                                ] = this.chartData[
                                                    ii
                                                ].robotStats[hostname].errors[
                                                    error
                                                ];
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            for (let ii = 0; ii < buckets.length; ii++) {
                for (let hostname in buckets[ii].robotStats) {
                    if (
                        !filterOutItem(
                            hostname,
                            this.filterHostname,
                            this.excludeHostnames
                        )
                    ) {
                        if (!(hostname in hostnames)) {
                            hostnames[hostname] = [];
                        }
                        while (hostnames[hostname].length < ii) {
                            hostnames[hostname].push(0);
                        }
                        let numErrors = 0;
                        for (let error in buckets[ii].robotStats[hostname][
                            'errors'
                        ]) {
                            if (
                                !filterOutItem(
                                    error,
                                    this.eventFilter,
                                    this.excludeEvents
                                )
                            ) {
                                numErrors +=
                                    buckets[ii].robotStats[hostname]['errors'][
                                        error
                                    ];
                            }
                        }
                        hostnames[hostname].push(numErrors);
                    }
                }
            }
            for (let hostname in hostnames) {
                datasets.push({
                    name: hostname,
                    x: labels,
                    y: hostnames[hostname],
                    type: 'bar'
                });
            }
            return datasets;
        }
    },
    created() {
        // Hide the filter input in the navbar
        this.$store.commit('hideFilterInput');
    },
    mounted() {
        axios
            .get('../data/chart.json')
            .then(response => {
                this.chartData = response.data;
                this.filteredChartData = this.generateChart();
            })
            .catch(() => {
                this.error = true;
            });
    }
};
</script>

<style scoped></style>
