<template>
    <v-container fluid grid-list-md>
        <v-layout row>
            <v-flex d-flex md3>
                <EventAccordian
                    ref="accordian"
                    :data-filter="eventFilter"
                ></EventAccordian>
            </v-flex>
            <v-flex d-flex md9>
                <v-layout row wrap>
                    <v-flex d-flex>
                        <VSvg
                            svgid="event"
                            svgsrc="../data/events.svg"
                            ref="svg"
                            :data-filter="mapFilter"
                        />
                    </v-flex>
                    <v-flex shrink>
                            <v-card min-width="400px">
                                <EventMessage :data-event="eventNumber" />
                            </v-card>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import VSvg from '../components/VSvg';
import EventMessage from '../components/EventMessage';
import EventAccordian from '../components/EventAccordian';

export default {
    components: {
        VSvg,
        EventMessage,
        EventAccordian
    },
    computed: {
        eventNumber() {
            return this.$store.state.eventNumber;
        },
        mapFilter() {
            // For this view, if there's no map filter, we want to
            // filter out everything on the map.
            if (this.$store.state.mapFilter[0] != '') {
                return this.$store.state.mapFilter;
            } else {
                // '__' will filter out everything, since no element will
                // contain '__' in its filter content
                return ['__'];
            }
        },
        eventFilter() {
            return this.$store.state.inputFilter;
        }
    },
    created() {
        this.$store.commit('showFilterInput');
        this.$store.commit('setInputFilter', ['']);
        this.$store.commit('setMapFilter', ['__']);
    }
};
</script>

<style scoped>
table.event-list {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

table.event-list td,
th {
    border: 1px solid #999;
    text-align: center;
    padding: 8px;
}

table.event-list tr:nth-child(even) {
    background-color: #dddddd;
}

table.event-list tr:hover {
    background-color: #555555;
}
</style>
