<template>
    <EventMessage :data-event="$route.params.eventNumber" />
</template>

<script>
import EventMessage from '../components/EventMessage';

export default {
    components: {
        EventMessage
    },
    created() {
        this.$store.commit('hideFilterInput');
    }
};
</script>

<style scoped></style>
