<template>
    <v-container fluid grid-list-md>
        <v-layout row wrap>
            <v-flex fill-height d-flex xs12 md2>
                <v-card class="scroll-y">
                    <v-radio-group v-model="radioGroup">
                        <v-radio
                            v-for="(item, index) in dataPointsRadioItems"
                            :key="index"
                            :label="item.label"
                            :value="item.value"
                        ></v-radio>
                    </v-radio-group>
                </v-card>
            </v-flex>
            <v-flex xs12 md10>
                <VSvg
                    svgid="fm"
                    :svgsrc="radioGroup"
                    :data-filter="filter"
                    ref="fm2"
                />
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import VSvg from '../components/VSvg';

export default {
    components: {
        VSvg
    },
    computed: {
        filter() {
            return this.$store.state.inputFilter;
        }
    },
    data() {
        return {
            radioGroup: '../data/events.svg',
            dataPointsRadioItems: [
                {
                    label: 'Events',
                    value: '../data/events.svg'
                },
                {
                    label: 'Obstructions',
                    value: '../data/obstructions.svg'
                },
                {
                    label: 'Wi-Fi',
                    value: '../data/wifi.svg'
                }
            ]
        };
    },
    created() {
        this.$store.commit('showFilterInput');
    }
};
</script>

<style>
.seegridPath {
    stroke: blue;
}

.seegridStation {
    fill: green;
}

.seegridEvent {
    fill: red;
}
</style>
