<template>
    <h1>Home Placeholder</h1>
</template>

<script>
export default {
    created() {
        this.$store.commit('hideFilterInput');
    }
};
</script>

<style scoped>
table.event-list {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

table.event-list td,
th {
    border: 1px solid #999;
    text-align: center;
    padding: 8px;
}

table.event-list tr:nth-child(even) {
    background-color: #dddddd;
}

table.event-list tr:hover {
    background-color: #555555;
}
</style>
