<template>
    <span>
        <h1>Symptoms Placeholder</h1>
        <h2>{{ $route.params.symptom }}</h2>
    </span>
</template>

<script>
export default {
    created() {
        this.$store.commit('hideFilterInput');
    }
};
</script>

<style scoped></style>
