<template>
    <span>
        <v-navigation-drawer
            app
            v-model="drawer"
            disable-resize-watcher
            class="hidden-lg-and-up"
        >
            <v-list>
                <template v-for="(link, index) in links">
                    <v-list-tile :key="index">
                        <v-icon class="mr-3">{{ link.icon }}</v-icon>
                        <v-list-tile-content>
                            {{ link.title }}
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-divider :key="`divider-${index}`"></v-divider>
                </template>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar clipped-left app>
            <v-toolbar-side-icon
                class="hidden-lg-and-up"
                @click="drawer = !drawer"
            >
            </v-toolbar-side-icon>
            <v-spacer class="hidden-lg-and-up"></v-spacer>
            <router-link
                to="/"
                style="color: inherit; text-decoration: inherit"
            >
                <v-toolbar-title to="/" class="headline text-uppercase">
                    <v-icon>build</v-icon>
                    <span class="font-weight-light">Goon</span>
                    <span>Tools</span>
                </v-toolbar-title>
            </router-link>
            <template v-for="(link, index) in links">
                <v-btn
                    flat
                    class="hidden-md-and-down"
                    :to="link.href"
                    :key="index"
                >
                    <v-icon>{{ link.icon }}</v-icon
                    >{{ link.title }}
                </v-btn>
            </template>
            <v-bottom-sheet v-model="eventCodes.sheet">
                <template v-slot:activator>
                    <v-btn flat class="hidden-md-and-down">
                        <v-icon>{{ eventCodes.icon }}</v-icon>
                        {{ eventCodes.title }}
                    </v-btn>
                </template>
                <v-card class="scroll-y text-center" style="max-height: 80vh;">
                    <template v-if="!eventCodes.error">
                        <v-container fluid fill-height>
                            <v-layout row wrap>
                                <v-flex xs12 text-xs-center>
                                    <v-card>
                                        <v-card-text class="px-0"
                                            ><h2>Event Codes</h2></v-card-text
                                        >
                                    </v-card>
                                </v-flex>
                                <v-flex>
                                    <template v-if="eventCodes.loaded">
                                        <v-btn
                                            v-for="(event,
                                            index) in eventCodes.data"
                                            :key="index"
                                            flat
                                            :to="'/eventcodes/' + event"
                                            @click="
                                                eventCodes.sheet = !eventCodes.sheet
                                            "
                                        >
                                            #{{ event }}
                                        </v-btn>
                                    </template>
                                    <template v-else>
                                        <v-progress-circular
                                            mr-2
                                            indeterminate
                                        />Loading...
                                    </template>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </template>
                    <template v-else>
                        <h1 style="color: red;">
                            Error loading Event Codes Table
                        </h1>
                    </template>
                </v-card>
            </v-bottom-sheet>
            <v-bottom-sheet v-model="symptoms.sheet">
                <template v-slot:activator>
                    <v-btn flat class="hidden-md-and-down">
                        <v-icon>{{ symptoms.icon }}</v-icon>
                        {{ symptoms.title }}
                    </v-btn>
                </template>
                <v-card class="scroll-y text-center" style="max-height: 80vh;">
                    <template v-if="!symptoms.error">
                        <v-container fluid>
                            <v-layout row wrap>
                                <v-flex xs12 text-xs-center>
                                    <v-card>
                                        <v-card-text class="px-0"
                                            ><h2>Symptoms</h2></v-card-text
                                        >
                                    </v-card>
                                </v-flex>
                                <template v-if="symptoms.loaded">
                                    <v-flex
                                        xs12
                                        v-for="(symptom,
                                        index) in symptoms.data"
                                        :key="index"
                                    >
                                        <v-btn
                                            :to="'/symptoms/' + symptom[1]"
                                            flat
                                            @click="
                                                symptoms.sheet = !symptoms.sheet
                                            "
                                            class="text-none"
                                        >
                                            {{ symptom[0] }}
                                        </v-btn>
                                    </v-flex>
                                </template>
                                <template v-else>
                                    <v-progress-circular
                                        mr-2
                                        indeterminate
                                    />Loading...
                                </template>
                            </v-layout>
                        </v-container>
                    </template>
                    <template v-else>
                        <h1 style="color: red;">
                            Error loading Symptoms
                        </h1>
                    </template>
                </v-card>
            </v-bottom-sheet>

            <v-spacer></v-spacer>
            <v-text-field
                v-if="showInputFilter"
                ref="filter"
                id="filter"
                @input="filterInput"
                solo
                label="Filter"
                placeholder="Filter"
                class="hidden-md-and-down"
            ></v-text-field>
        </v-toolbar>
        <SnackBar />
    </span>
</template>

<script>
import SnackBar from './SnackBar';
import axios from 'axios';
let csv = require('jquery-csv');

export default {
    name: 'AppNav',
    components: {
        SnackBar
    },
    data() {
        return {
            sheet: false,
            filterChips: [],
            select: [],
            appTitle: 'GoonTools',
            drawer: false,
            links: [
                {
                    icon: 'list',
                    title: 'Events',
                    href: '/events'
                },
                {
                    icon: 'map',
                    title: 'Facility Map',
                    href: '/facilitymap'
                },
                {
                    icon: 'insert_chart',
                    title: 'Charts',
                    href: '/charts'
                }
            ],
            eventCodes: {
                sheet: false,
                icon: 'import_contacts',
                title: 'Event Codes',
                loaded: false,
                error: false,
                data: []
            },
            symptoms: {
                sheet: false,
                icon: 'my_location',
                title: 'Symptoms',
                loaded: false,
                error: false,
                data: []
            }
        };
    },
    methods: {
        filterInput: function(val) {
            /* @brief Actively adds the text in the input box to the filter as the user types*/
            this.$store.commit('setInputFilter', [val]);
            this.filterChips = val.split(' ').filter(function(fil) {
                return fil != '';
            });
        }
    },
    computed: {
        showInputFilter() {
            return this.$store.state.showInputFilter;
        }
    },
    created() {
        axios
            .get('../data/errortable.json')
            .then(response => {
                this.eventCodes.data = response.data;
                this.eventCodes.loaded = true;
            })
            .catch(() => {
                this.eventCodes.error = true;
            });
        axios
            .get('../data/symptoms.csv')
            .then(response => {
                this.symptoms.data = csv.toArrays(response.data);
                this.symptoms.loaded = true;
            })
            .catch(() => {
                this.symptoms.error = true;
            });
    }
};
</script>
<style scoped></style>
