<template>
    <span v-if="errorList">
        <table v-if="dataEvent" class="event">
            <tr>
                <th colspan="2" :bgcolor="errorList[dataEvent].color">
                    {{ errorList[dataEvent].headline }} -
                    {{ errorList[dataEvent].category }} [#{{ dataEvent }}]
                </th>
            </tr>
            <tr>
                <td colspan="2" height="20"></td>
            </tr>
            <tr>
                <td rowspan="5">
                    <img
                        :src="
                            require('../assets/' +
                                errorList[dataEvent].headline +
                                '.png')
                        "
                        align="bottom"
                        hspace="20"
                    />
                </td>
                <td>
                    {{ errorList[dataEvent].problem }}
                    {{ errorList[dataEvent].cause }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>{{ errorList[dataEvent].action1 }}</b>
                </td>
            </tr>
            <tr>
                <td>{{ errorList[dataEvent].action2 }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>
    </span>
</template>

<script>
import axios from 'axios';

export default {
    data: () => ({
        errorList: null,
        color: null,
        headline: '',
        category: '',
        problem: '',
        cause: '',
        action1: '',
        action2: ''
    }),
    props: ['dataEvent'],
    methods: {
        getErrorList() {
            /*  @brief  Fills the errorList object from errorlist.json
             */
            axios
                .get('../data/errorlist.json')
                .then(response => {
                    this.errorList = response.data;
                })
                .catch(() => {
                    this.errorList = null;
                });
        }
    },
    mounted: function() {
        this.getErrorList();
    }
};
</script>

<style scoped>
table.event {
    font-family: arial, sans-serif;
    border: 2px solid black;
    border-collapse: collapse;
    max-width: 400px;
    min-width: 400px;
}

table.event tr:last-child {
    border-bottom: 2px solid black;
}

table.event th {
    text-align: center;
    vertical-align: middle;
    border-bottom: 2px solid black;
}

table.event td {
    padding: 5px;
}
</style>
