<template>
    <v-card class="scroll-container">
        <v-expansion-panel v-model="panel" expand>
            <!-- filteredAccordianData contains just the data that's been filtered by 
                user input -->
            <v-expansion-panel-content
                v-for="(value, hostname, index) in filteredAccordianData"
                :key="index"
            >
                <!-- EventAccordian updates the Vuex store when the tables are hovered over, 
                     with the filter for the VSvg component, 
                     and the eventNumber to display the proper event message in the 
                     EventMessage component.  If nothing is hovered, filter is '__' and eventNumber
                     is null -->
                <template v-slot:header>
                    <div
                        @mouseover="
                            updateMapFilter([hostname]);
                            updateEventNumber(null);
                        "
                        @mouseout="
                            updateMapFilter(['__']);
                            updateEventNumber(null);
                        "
                    >
                        {{ hostname }}
                    </div>
                </template>
                <table
                    class="event-list"
                    @mouseout="
                        updateMapFilter(['__']);
                        updateEventNumber(null);
                    "
                >
                    <tr>
                        <th>Event #</th>
                        <th>Date/Time (EST)</th>
                        <th>Stations</th>
                    </tr>
                    <tr
                        v-for="(event, ii) in filteredAccordianData[hostname]
                            .events"
                        :key="ii"
                        @mouseout="
                            updateMapFilter(['__']);
                            updateEventNumber(null);
                        "
                        @mouseover="
                            updateMapFilter([
                                hostname,
                                '#' + event.error,
                                ...event.displayTimeStamp,
                                event.startStation,
                                event.endStation
                            ]);
                            updateEventNumber(event.error);
                        "
                    >
                        <td>#{{ event.error }}</td>
                        <td>{{ event.displayTimeStamp }}</td>
                        <td>
                            {{ event.startStation }} -
                            {{ event.endStation }}
                        </td>
                    </tr>
                </table>
            </v-expansion-panel-content>
        </v-expansion-panel>
    </v-card>
</template>

<script>
import axios from 'axios';

export default {
    data: () => ({
        accordianData: {}, // all the data
        filteredAccordianData: {}, // filtered data
        panel: []
    }),
    props: ['dataFilter'],
    watch: {
        dataFilter: function(newVal, oldVal) {
            if (newVal != oldVal) {
                if (typeof newVal === 'string') {
                    this.filteredAccordianData = this.filter(newVal.split(' '));
                } else if (Array.isArray(newVal)) {
                    this.filteredAccordianData = this.filter(
                        newVal.join(' ').split(' ')
                    );
                }
            }
        }
    },
    methods: {
        updateEventNumber(eventNumber) {
            this.$store.commit('setEventNumber', eventNumber);
        },
        updateMapFilter(filter) {
            if (filter != '__') {
                this.$store.commit('setMapFilter', filter);
            } else if (this.$store.state.inputFilter[0] != '') {
                this.$store.commit(
                    'setMapFilter',
                    this.$store.state.inputFilter
                );
            } else {
                this.$store.commit('setMapFilter', '__');
            }
        },
        getAccordianData() {
            /* @brief retrieves the accordian data from events.json.  Also adds the filtering
                data to each of the objects in the accordian data for future filtering. */
            axios
                .get('../data/events.json')
                .then(response => {
                    response = response.data;
                    this.accordianData = response;

                    for (const hostname of Object.keys(this.accordianData)) {
                        // A set of all of the filter terms that can apply to this top-level card
                        let hostSet = new Set();

                        for (const event of Object.keys(
                            this.accordianData[hostname].events
                        )) {
                            let ev = this.accordianData[hostname].events[event];

                            // Adds the filter terms that apply to this event
                            ev.filter = [
                                hostname,
                                ev.displayTimeStamp,
                                ev.error,
                                '#' + ev.error,
                                ev.startStation,
                                ev.endStation
                            ].join(' ');
                            hostSet.add(hostname);
                            hostSet.add(ev.displayTimeStamp);
                            hostSet.add(ev.error);
                            hostSet.add('#' + ev.error);
                            hostSet.add(ev.startStation);
                            hostSet.add(ev.endStation);
                        }
                        this.accordianData[hostname].filter = Array.from(
                            hostSet
                        ).join(' ');
                    }
                    this.filteredAccordianData = this.accordianData;
                })
                .catch(() => {
                    this.accordianData = null;
                });
        },
        filter(filter) {
            /*  @brief  Returns the filtered accordian data
                @param  filter the filter, as an array, to filter accordian data with.
                        If filter[0] is '' or isn't an array, then it doesn't filter and
                        simply returns the unaltered accordianData object.
                @return A new object with only the filtered accordian data  
            */
            function filterMatches(str, filter) {
                /*  @brief  Checks if a given filter matches a given string in a
                            case-insensitive way.
                    @param  str The string to check the filter against
                    @param  filter An array of filter items
                    @return True if str contains all of the filter items.
                            False if any of the filter items is not in str.
                */
                for (let ii = 0; ii < filter.length; ii++) {
                    if (!str.toUpperCase().includes(filter[ii].toUpperCase())) {
                        return false;
                    }
                }
                return true;
            }

            let filteredAccordian = {};

            if (filter[0] != '') {
                for (const hostname of Object.keys(this.accordianData)) {
                    if (
                        filterMatches(
                            this.accordianData[hostname].filter,
                            filter
                        )
                    ) {
                        filteredAccordian[hostname] = { events: [] };
                        for (
                            let jj = 0;
                            jj < this.accordianData[hostname].events.length;
                            jj++
                        ) {
                            if (
                                filterMatches(
                                    this.accordianData[hostname].events[jj]
                                        .filter,
                                    filter
                                )
                            ) {
                                filteredAccordian[hostname].events.push(
                                    this.accordianData[hostname].events[jj]
                                );
                            }
                        }
                    }
                }
            } else {
                return this.accordianData;
            }
            return filteredAccordian;
        }
    },
    created() {
        this.getAccordianData();
    },
    mounted() {
        if (typeof this.dataFilter === 'string') {
            this.filter(this.dataFilter.split(' '));
        } else if (Array.isArray(this.dataFilter)) {
            this.filter(this.dataFilter.join(' ').split(' '));
        }
    }
};
</script>

<style scoped>
table.event-list {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

table.event-list td,
th {
    border: 1px solid #999;
    text-align: center;
    padding: 8px;
}

table.event-list tr:nth-child(even) {
    background-color: #dddddd;
}

table.event-list tr:hover {
    background-color: #555555;
}
</style>
