<!--    SnackBar can show a short popup message at the top of the screen
        for a short period of time -->
<template>
    <v-snackbar v-model="show" :timeout="timeout">
        {{ message }}
        <v-btn flat color="accent" @click.native="show = false">OK</v-btn>
    </v-snackbar>
</template>

<script>
export default {
    name: 'SnackBar',
    data() {
        return {
            show: false,
            message: '',
            timeout: 2000
        };
    },
    created() {
        this.$store.watch(
            state => state.snack.snack,
            () => {
                const msg = this.$store.state.snack.snack;
                if (msg != '') {
                    this.message = this.$store.state.snack.snack;
                    this.timeout = this.$store.state.snack.timeout;
                    this.show = true;
                    this.$store.commit('setSnack', '');
                }
            }
        );
    }
};
</script>

<style></style>
