<template>
    <span>
        <object
            :id="svgid"
            :data="svgsrc"
            type="image/svg+xml"
            style="width: 100%; height: 90vh; border: 1px solid black;"
            ><h2 style="color: red;">Error loading image</h2></object
        >
    </span>
</template>

<script>
import svgPanZoom from 'svg-pan-zoom';

export default {
    props: ['svgid', 'svgsrc', 'dataFilter'],
    data: () => ({
        svgDocument: null, // Will hold the handle for the svg's content document
        processing: true
    }),
    watch: {
        dataFilter: function(newVal, oldVal) {
            if (newVal != oldVal) {
                if (typeof newVal === 'string') {
                    this.filter(newVal.split(' '));
                } else if (Array.isArray(newVal)) {
                    this.filter(newVal.join(' ').split(' '));
                }
            }
        }
    },
    methods: {
        placeCircles: function() {
            /*
            @brief Places the data point (events, obstructions, wifi)
                   circles on the SVG path elements prior to 
                   initializing the svgPanZoom object
            */

            let doc = this.svgDocument;
            let circles = doc.getElementsByClassName('seegridDataPoint');
            if (circles) {
                for (let ii = 0; ii < circles.length; ii++) {
                    let segment = circles[ii].getAttribute('data-segment_uuid');
                    if (segment) {
                        // if segment != null at this point, then we're dealing with
                        // a data point that needs to be placed
                        let ratio = circles[ii].getAttribute('data-ratio');
                        segment = doc.getElementById(segment);
                        if (segment) {
                            // if the segment was found by the 'segment_uuid', then
                            // the segment exists and we can place the circle
                            let pathLen = segment.getTotalLength();
                            let position = segment.getPointAtLength(
                                pathLen * ratio
                            );
                            circles[ii].setAttribute('cx', position.x);
                            circles[ii].setAttribute('cy', position.y);
                            circles[ii].style.visibility = '';
                            circles[ii].style.display = '';
                        } else {
                            // the segment wasn't found, so we're going to disable the
                            // circle from future processing by changing the class and name
                            circles[ii].className.baseVal = '';
                            circles[ii].setAttribute('name', '');
                            circles[ii].style.visibility = 'hidden';
                            circles[ii].style.display = 'none';
                        }
                    }
                }
            }
        },
        scaleSvg: function(zoom) {
            /*
            @brief  The onZoom callback for svgPanZoom zoom events.
                    Scales the elements (stroke-width and circle radius)
                    so that as the user zooms in, the circles get
                    smaller by an equal amount so they don't fill the 
                    screen
            */
            let doc = this.svgDocument;
            const zoomFactor = 1 / zoom;

            // The base radius of circles (stations, events, obstructions
            // wifi, etc.) is set by the hidden circle with id 'circle_radius'
            // from within the svg
            const radius = parseInt(
                doc.getElementById('circle_radius').getAttribute('value')
            );

            // Likewise the base stroke-width of the paths is set by
            // the hidden path with id 'path_stroke_width' from within
            // the svg
            const strokeWidth = parseInt(
                doc.getElementById('path_stroke_width').getAttribute('value')
            );

            let circles = doc.getElementsByClassName('seegridDataPoint');
            for (let ii = 0; ii < circles.length; ii++) {
                circles[ii].setAttribute('r', '' + radius * zoomFactor);
            }

            let paths = doc.getElementsByClassName('seegridPath');
            for (let ii = 0; ii < paths.length; ii++) {
                paths[ii].setAttribute(
                    'stroke-width',
                    '' + strokeWidth * zoomFactor
                );
            }
        },
        filter(filterArray) {
            /*  @brief  Filters the SVG's data points with the given filter
                @param  filterArray An array of strings to filter the
                        data points against
            */
            this.processing = true;
            if (this.svgDocument) {
                let doc = this.svgDocument;
                // The elements that can potentially be filtered are all named 'filter'
                let els = doc.getElementsByName('filter');
                let filters = filterArray;
                for (var ii = 0; ii < els.length; ii++) {
                    if (filters[0] != '') {
                        let foundFilter = true;
                        // Each element named 'filter' has a data-filter attribute with
                        // the content to filter against
                        let dataFilter = els[ii].getAttribute('data-filter');

                        if (dataFilter) {
                            for (var jj = 0; jj < filters.length; jj++) {
                                if (
                                    !dataFilter
                                        .toUpperCase()
                                        .includes(filters[jj].toUpperCase())
                                ) {
                                    foundFilter = false;
                                }
                            }

                            if (foundFilter) {
                                // filterArray matched data-filter, show the element
                                els[ii].style.display = '';
                                els[ii].style.visibility = '';
                            } else {
                                // filterArray did not match data-filter, hide the element
                                els[ii].style.display = 'none';
                                els[ii].style.visibility = 'hidden';
                            }
                        } else {
                            // The element happens to have a filter name attribute, but doesn't
                            // have a data-filter attribute, so show it by default
                            els[ii].style.display = '';
                            els[ii].style.visibility = '';
                        }
                    } else {
                        // if filterArray was blank or invalid, then show all elements
                        if (els[ii].getAttribute('data-filter') != ' ') {
                            els[ii].style.display = '';
                            els[ii].style.visibility = '';
                        }
                    }
                }
            }
            this.processing = false;
        }
    },
    mounted() {
        this.processing = true;
        let svgElement = document.getElementById(this.svgid);
        if (svgElement) {
            // svgPanZoom library requires that SVG is loaded prior
            // to instantiating the svgPanZoom library
            svgElement.onload = () => {
                this.svgDocument = svgElement.contentDocument;
                setTimeout(this.placeCircles); // placeCircles is an expensive function...
                svgPanZoom(svgElement, {
                    zoomEnabled: true,
                    controlIconsEnabled: true,
                    fit: true,
                    center: true,
                    minZoom: 0.25,
                    maxZoom: 500,
                    onZoom: this.scaleSvg
                });
                if (typeof this.dataFilter === 'string') {
                    this.filter(this.dataFilter.split(' '));
                } else if (Array.isArray(this.dataFilter)) {
                    this.filter(this.dataFilter.join(' ').split(' '));
                }
            };
        }
    }
};
</script>

<style></style>
