<template>
    <v-app class="content">
        <app-nav></app-nav>
        <v-content>
            <!--transition="slide-x-transition"-->
            <router-view></router-view>
        </v-content>
    </v-app>
</template>

<script>
import AppNav from '@/components/AppNav';

export default {
    name: 'App',
    components: {
        AppNav
    },
    data() {
        return {
            //
        };
    }
};
</script>

<style>
html {
    overflow: hidden;
}

.content {
    max-height: 90vh;
}

.scroll-container {
    height: 90vh;
    overflow-y: auto;
    backface-visibility: hidden;
}
</style>
